/* for custom styles */
#gender {
	margin-bottom: 0;
}

.btn-large{
    margin-bottom: 10px;
    width: 200px;
}
.form-actions{
    background-color: white !important;
}
#delForm{
    visibility: hidden;
}